In [5]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/yelp-dataset/Dataset_User_Agreement.pdf
/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json

# Business Data exploration

In [3]:
business = pd.read_json("../input/yelp-dataset/yelp_academic_dataset_business.json", lines=True)
business.info()  #columns of business table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

In [3]:
business.head()  #first five rows

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [5]:
business.tail()  #last five rows

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

**Table:Business**

Columns:

•⁠  ⁠business_id (VARCHAR): Unique identifier for each business.

•⁠  ⁠name (VARCHAR): Name of the business.

•⁠  ⁠address (VARCHAR): Street address of the business.

•⁠  ⁠city (VARCHAR): City where the business is located.

•⁠  ⁠state (VARCHAR): State where the business is located.

•⁠  ⁠postal_code (VARCHAR): Postal code for the business location.

•⁠  ⁠latitude (FLOAT): Latitude coordinate of the business location.

•⁠  ⁠longitude (FLOAT): Longitude coordinate of the business location.

•⁠  ⁠stars (FLOAT): Average rating of the business (scale of 1.0 to 5.0).

•⁠  ⁠review_count (INT): Total number of reviews for the business.

•⁠  ⁠is_open (INT): Indicator if the business is open (1 for open, 0 for closed).

•⁠  ⁠attributes (JSON/TEXT): Additional business attributes (e.g., parking availability, payment options) stored as JSON text.

•⁠  ⁠categories (TEXT): Categories or types of business (e.g., "Restaurant, Fast Food").

•⁠  ⁠hours (JSON/TEXT): Opening hours of the business stored as JSON text.

**Primary Key:** business_id

**Data Source:** Extracted from yelp_academic_dataset_business.json JSON file.

# Checkin Data Exploration

In [6]:
checkin = pd.read_json('../input/yelp-dataset/yelp_academic_dataset_checkin.json', lines=True)
checkin.info()  #columns of checkin table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB

In [7]:
checkin.head()  #first five rows

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [8]:
checkin.tail()  #last five rows

,business_id,date
131925,zznJox6-nmXlGYNWgTDwQQ,"2013-03-23 16:22:47, 2013-04-07 02:03:12, 2013..."
131926,zznZqH9CiAznbkV6fXyHWA,2021-06-12 01:16:12
131927,zzu6_r3DxBJuXcjnOYVdTw,"2011-05-24 01:35:13, 2012-01-01 23:44:33, 2012..."
131928,zzw66H6hVjXQEt0Js3Mo4A,"2016-12-03 23:33:26, 2018-12-02 19:08:45"
131929,zzyx5x0Z7xXWWvWnZFuxlQ,2015-01-06 17:51:53

**Table: Checkin**

​
Columns:

​
•⁠  ⁠business_id (VARCHAR): Unique identifier for each business; links to the Business table.

•⁠  ⁠date (DATETIME): Date and time of each check-in for the business, formatted as a timestamp or date.

​
**Primary Key:** (Composite primary key on business_id and date if each check-in event is unique by business and date).
​
**Foreign Keys:** business_id references Business table (One-to-Many).
​
Data Source: Extracted from yelp_academic_dataset_checkin.json JSON file.

# Review Data Exploration

In [9]:
with  pd.read_json("../input/yelp-dataset/yelp_academic_dataset_review.json",lines=True, chunksize = 50000) as review_dummy:
    for row in review_dummy:
        review = row;

review.info()  #columns of review table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40280 entries, 6950000 to 6990279
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    40280 non-null  object
 1   user_id      40280 non-null  object
 2   business_id  40280 non-null  object
 3   stars        40280 non-null  int64
 4   useful       40280 non-null  int64
 5   funny        40280 non-null  int64
 6   cool         40280 non-null  int64
 7   text         40280 non-null  object
 8   date         40280 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 2.8+ MB

In [10]:
review.head()  #first five rows

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
6950000,w2YtDNW6ebYx43foyvpYxw,00SWKuMcScsA5hZ7tzvm1w,2Y-cy25mig7WM955KOcqMQ,2,0,0,0,I just went in today for a regular gel on both...,2021-05-28 23:16:56
6950001,bRMOsHgqngHzyUND_Sr-dw,v8pkGYudWGGiSDfF1dyTWg,kD03gNnQrHarCz97s1BNDQ,5,0,0,0,Excellent casual dining in a boisterous and li...,2021-10-17 14:52:46
6950002,iqKvsxnMNxp4HqUUACDGvg,P3IkXK8yza4jzx04n08ZsA,jhckIMBzOldxgS66DrV8zA,2,0,0,0,"TLDR; the food was fantastic, our waiter was k...",2017-04-08 19:30:13
6950003,-G41sH2iStHbU1b2mpudEQ,CxkmHx-96t9jmLJLUvSDqQ,YwrL69clJBmO9-HgA7dfUA,3,2,0,0,My wife and I stopped in for dinner while the ...,2018-09-20 22:00:08
6950004,KLkCCUEPDFSYCt4fk1wIHA,04LPjOC5z5Zgel8CAhm9xA,-1K1J_D9eT2dR6BNvQ2Tnw,1,1,0,0,Didn't even bother getting my car washed here ...,2017-07-07 20:29:50

In [11]:
review.tail() #last rive rows

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5,1,2,1,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5,2,1,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

**Table:Review**

Columns:

•⁠  ⁠review_id (VARCHAR): Unique identifier for each review.

•⁠  ⁠user_id (VARCHAR): Unique identifier for the user who left the review; links to Users table.

•⁠  ⁠business_id (VARCHAR): Unique identifier for the business being reviewed; links to Business table.

•⁠  ⁠stars (FLOAT): Star rating provided in the review, on a scale of 1.0 to 5.0.

•⁠  ⁠useful (INT): Count of "useful" votes this review received.

•⁠  ⁠funny (INT): Count of "funny" votes this review received.

•⁠  ⁠cool (INT): Count of "cool" votes this review received.

•⁠  ⁠text (TEXT): Full text of the review, providing content feedback.

•⁠  ⁠date (DATE): Date the review was written.

**Primary key :** review_id

**Foreign keys :**

•⁠  user_id references Users table (One-to-Many).

•⁠  ⁠business_id references Business table (One-to-Many).

Data Source: Extracted from yelp_academic_dataset_review.json JSON file.

# Tip Data Exploration

In [12]:
tip = pd.read_json('../input/yelp-dataset/yelp_academic_dataset_tip.json', lines=True)
tip.info()  #columns of tip table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908915 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   business_id       908915 non-null  object
 2   text              908915 non-null  object
 3   date              908915 non-null  datetime64[ns]
 4   compliment_count  908915 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.7+ MB

In [13]:
tip.head() #first five rows

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [14]:
tip.tail()  #last five rows

,user_id,business_id,text,date,compliment_count
908910,eYodOTF8pkqKPzHkcxZs-Q,3lHTewuKFt5IImbXJoFeDQ,Disappointed in one of your managers.,2021-09-11 19:18:57,0
908911,1uxtQAuJ2T5Xwa_wp7kUnA,OaGf0Dp56ARhQwIDT90w_g,Great food and service.,2021-10-30 11:54:36,0
908912,v48Spe6WEpqehsF2xQADpg,hYnMeAO77RGyTtIzUSKYzQ,Love their Cubans!!,2021-11-05 13:18:56,0
908913,ckqKGM2hl7I9Chp5IpAhkw,s2eyoTuJrcP7I_XyjdhUHQ,Great pizza great price,2021-11-20 16:11:44,0
908914,4tF1CWdMxvvwpUIgGsDygA,_cb1Vg1NIWry8UA0jyuXnQ,Food is good value but a bit hot!,2021-12-07 22:30:00,0

**Table: Tip**

Columns:

•⁠  ⁠user_id (VARCHAR): Unique identifier for each user; links to the Users table.

•⁠  ⁠business_id (VARCHAR): Unique identifier for each business; links to the Business table.

•⁠  ⁠text (TEXT): Content of the tip provided by the user, describing their experience or suggestions.

•⁠  ⁠date (DATETIME): Date and time when the tip was posted.

•⁠  ⁠compliment_count (INT): Number of compliments received by the tip from other users.

**Primary Key:** (Composite primary key on user_id, business_id, and date if each tip is unique by user, business, and date).

**Foreign Keys:**

user_id references Users table (One-to-Many).

business_id references Business table (One-to-Many).

**Data Source:**

Extracted from yelp_academic_dataset_tip.json JSON file.

# User Data Exploration

In [15]:
user = pd.read_json('../input/yelp-dataset/yelp_academic_dataset_user.json', lines=True)
user.info() #columns for user table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987897 entries, 0 to 1987896
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 333.7+ MB

In [16]:
user.head() #first five rows

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [17]:
user.tail()  #last five rows

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,23,2015-01-06 00:31:31,7,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,1,2016-06-14 07:20:52,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,4,2017-02-04 15:31:58,1,1,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,2,2011-01-14 00:29:08,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2,2020-12-19 02:32:39,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0

**Table: Users**

Columns:

•⁠  ⁠user_id (VARCHAR): Unique identifier for each user.

•⁠  ⁠name (VARCHAR): Name of the user.

•⁠  ⁠review_count (INT): Total number of reviews submitted by the user.

•⁠  ⁠yelping_since (DATETIME): Date the user joined Yelp.

•⁠  ⁠useful (INT): Count of useful votes received by the user’s reviews.

•⁠  ⁠funny (INT): Count of funny votes received by the user’s reviews.

•⁠  ⁠cool (INT): Count of cool votes received by the user’s reviews.

•⁠  ⁠elite (TEXT): Years in which the user held elite status, formatted as a comma-separated string.

•⁠  ⁠friends (TEXT): List of user IDs representing the user’s friends, formatted as a comma-separated string.

•⁠  ⁠fans (INT): Number of fans the user has on Yelp.

•⁠  ⁠average_stars (FLOAT): Average star rating given by the user across all reviews.

•⁠  ⁠compliment_hot (INT): Count of "hot" compliments received by the user.

•⁠  ⁠compliment_more (INT): Count of "more" compliments received by the user.

•⁠  ⁠compliment_profile (INT): Count of "profile" compliments received by the user.

•⁠  ⁠compliment_cute (INT): Count of "cute" compliments received by the user.

•⁠  ⁠compliment_list (INT): Count of "list" compliments received by the user.

•⁠  ⁠compliment_note (INT): Count of "note" compliments received by the user.

•⁠  ⁠compliment_plain (INT): Count of "plain" compliments received by the user.

•⁠  ⁠compliment_cool (INT): Count of "cool" compliments received by the user.

•⁠  ⁠compliment_funny (INT): Count of "funny" compliments received by the user.

•⁠  ⁠compliment_writer (INT): Count of "writer" compliments received by the user.

•⁠  ⁠compliment_photos (INT): Count of "photos" compliments received by the user.

**Primary Key:** user_id

**Data Source:** Extracted from yelp_academic_dataset_user.json JSON file.

# Uploading dataframes to Azure

In [8]:
from sqlalchemy import create_engine
!pip install PyMySql
import pymysql
import sqlalchemy

Collecting PyMySql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.3 MB/s eta 0:00:00
Installing collected packages: PyMySql
Successfully installed PyMySql-1.1.1

In [9]:
!pip install pyodbc

!apt-get update
!apt-get install -y unixodbc-dev

 #install Microsoft ODBC Driver for SQL Server
!curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
!curl https://packages.microsoft.com/config/ubuntu/20.04/prod.list | tee /etc/apt/sources.list.d/msprod.list
!apt-get update
!ACCEPT_EULA=Y apt-get install -y msodbcsql17

Collecting pyodbc
  Downloading pyodbc-5.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.7 kB)
Downloading pyodbc-5.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (336 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 336.0/336.0 kB 5.5 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0
Get:1 https://packages.cloud.google.com/apt gcsfuse-focal InRelease [1227 B]
Get:2 https://packages.cloud.google.com/apt cloud-sdk InRelease [1618 B]
Get:3 http://security.ubuntu.com/ubuntu focal-security InRelease [128 kB]
Hit:4 http://archive.ubuntu.com/ubuntu focal InRelease
Get:5 https://packages.cloud.google.com/apt gcsfuse-focal/main amd64 Packages [28.6 kB]
Get:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease [128 kB]
Get:7 https://packages.cloud.google.com/apt cloud-sdk/main all Packages [1564 kB]
Get:8 https://packages.cloud.google.com/apt cloud-sdk/main amd64 Packages [3375 kB]
Get:9 http://security.ubuntu.com/ubuntu focal-security/restricted amd64 Packages [4105 kB]
Get:10 http://archive.ubuntu.com/ubuntu focal-backports InRelease [128 kB]
Get:11 http://archive.ubuntu.com/ubuntu focal-updates/multiverse amd64 Packages [33.5 kB]
Get:12 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [4546 kB]
Get:13 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1275 kB]
Get:14 http://security.ubuntu.com/ubuntu focal-security/multiverse amd64 Packages [30.9 kB]
Get:15 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [4083 kB]
Get:16 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1566 kB]
Get:17 http://archive.ubuntu.com/ubuntu focal-updates/restricted amd64 Packages [4258 kB]
Fetched 25.3 MB in 4s (6271 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  autoconf automake autotools-dev file libltdl-dev libmagic-mgc libmagic1
  libodbc1 libsigsegv2 libtool m4 odbcinst odbcinst1debian2
Suggested packages:
  autoconf-archive gnu-standards autoconf-doc gettext libtool-doc libmyodbc
  odbc-postgresql tdsodbc unixodbc-bin gfortran | fortran95-compiler gcj-jdk
  m4-doc
The following NEW packages will be installed:
  autoconf automake autotools-dev file libltdl-dev libmagic-mgc libmagic1
  libodbc1 libsigsegv2 libtool m4 odbcinst odbcinst1debian2 unixodbc-dev
0 upgraded, 14 newly installed, 0 to remove and 58 not upgraded.
Need to get 2212 kB of archives.
After this operation, 15.3 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/main amd64 libmagic-mgc amd64 1:5.38-4 [218 kB]
Get:2 http://archive.ubuntu.com/ubuntu focal/main amd64 libmagic1 amd64 1:5.38-4 [75.9 kB]
Get:3 http://archive.ubuntu.com/ubuntu focal/main amd64 file amd64 1:5.38-4 [23.3 kB]
Get:4 http://archive.ubuntu.com/ubuntu focal/main amd64 libsigsegv2 amd64 2.12-2 [13.9 kB]
Get:5 http://archive.ubuntu.com/ubuntu focal/main amd64 m4 amd64 1.4.18-4 [199 kB]
Get:6 http://archive.ubuntu.com/ubuntu focal/main amd64 autoconf all 2.69-11.1 [321 kB]
Get:7 http://archive.ubuntu.com/ubuntu focal/main amd64 autotools-dev all 20180224.1 [39.6 kB]
Get:8 http://archive.ubuntu.com/ubuntu focal/main amd64 automake all 1:1.16.1-4ubuntu6 [522 kB]
Get:9 http://archive.ubuntu.com/ubuntu focal/main amd64 libltdl-dev amd64 2.4.6-14 [162 kB]
Get:10 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 libodbc1 amd64 2.3.6-0.1ubuntu0.1 [190 kB]
Get:11 http://archive.ubuntu.com/ubuntu focal/main amd64 libtool all 2.4.6-14 [161 kB]
Get:12 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 odbcinst1debian2 amd64 2.3.6-0.1ubuntu0.1 [41.7 kB]
Get:13 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 odbcinst amd64 2.3.6-0.1ubuntu0.1 [14.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 unixodbc-dev amd64 2.3.6-0.1ubuntu0.1 [230 kB]
Fetched 2212 kB in 2s (998 kB/s)
Selecting previously unselected package libmagic-mgc.
(Reading database ... 115958 files and directories currently installed.)
Preparing to unpack .../00-libmagic-mgc_1%3a5.38-4_amd64.deb ...
Unpacking libmagic-mgc (1:5.38-4) ...
Selecting previously unselected package libmagic1:amd64.
Preparing to unpack .../01-libmagic1_1%3a5.38-4_amd64.deb ...
Unpacking libmagic1:amd64 (1:5.38-4) ...
Selecting previously unselected package file.
Preparing to unpack .../02-file_1%3a5.38-4_amd64.deb ...
Unpacking file (1:5.38-4) ...
Selecting previously unselected package libsigsegv2:amd64.
Preparing to unpack .../03-libsigsegv2_2.12-2_amd64.deb ...
Unpacking libsigsegv2:amd64 (2.12-2) ...
Selecting previously unselected package m4.
Preparing to unpack .../04-m4_1.4.18-4_amd64.deb ...
Unpacking m4 (1.4.18-4) ...
Selecting previously unselected package autoconf.
Preparing to unpack .../05-autoconf_2.69-11.1_all.deb ...
Unpacking autoconf (2.69-11.1) ...
Selecting previously unselected package autotools-dev.
Preparing to unpack .../06-autotools-dev_20180224.1_all.deb ...
Unpacking autotools-dev (20180224.1) ...
Selecting previously unselected package automake.
Preparing to unpack .../07-automake_1%3a1.16.1-4ubuntu6_all.deb ...
Unpacking automake (1:1.16.1-4ubuntu6) ...
Selecting previously unselected package libltdl-dev:amd64.
Preparing to unpack .../08-libltdl-dev_2.4.6-14_amd64.deb ...
Unpacking libltdl-dev:amd64 (2.4.6-14) ...
Selecting previously unselected package libodbc1:amd64.
Preparing to unpack .../09-libodbc1_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking libodbc1:amd64 (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package libtool.
Preparing to unpack .../10-libtool_2.4.6-14_all.deb ...
Unpacking libtool (2.4.6-14) ...
Selecting previously unselected package odbcinst1debian2:amd64.
Preparing to unpack .../11-odbcinst1debian2_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking odbcinst1debian2:amd64 (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package odbcinst.
Preparing to unpack .../12-odbcinst_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking odbcinst (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package unixodbc-dev:amd64.
Preparing to unpack .../13-unixodbc-dev_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking unixodbc-dev:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up libmagic-mgc (1:5.38-4) ...
Setting up libmagic1:amd64 (1:5.38-4) ...
Setting up file (1:5.38-4) ...
Setting up autotools-dev (20180224.1) ...
Setting up libsigsegv2:amd64 (2.12-2) ...
Setting up libodbc1:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up libtool (2.4.6-14) ...
Setting up m4 (1.4.18-4) ...
Setting up autoconf (2.69-11.1) ...
Setting up automake (1:1.16.1-4ubuntu6) ...
update-alternatives: using /usr/bin/automake-1.16 to provide /usr/bin/automake (automake) in auto mode
update-alternatives: warning: skip creation of /usr/share/man/man1/automake.1.gz because associated file /usr/share/man/man1/automake-1.16.1.gz (of link group automake) doesn't exist
update-alternatives: warning: skip creation of /usr/share/man/man1/aclocal.1.gz because associated file /usr/share/man/man1/aclocal-1.16.1.gz (of link group automake) doesn't exist
Setting up libltdl-dev:amd64 (2.4.6-14) ...
Setting up odbcinst1debian2:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up unixodbc-dev:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up odbcinst (2.3.6-0.1ubuntu0.1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.16) ...
Processing triggers for man-db (2.9.1-1) ...
Processing triggers for install-info (6.7.0.dfsg.2-5) ...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   983  100   983    0     0   5501      0 --:--:-- --:--:-- --:--:--  5522
OK
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    89  100    89    0     0   1689      0 --:--:-- --:--:-- --:--:--  1711
deb [arch=amd64,armhf,arm64] https://packages.microsoft.com/ubuntu/20.04/prod focal main
Hit:1 https://packages.cloud.google.com/apt gcsfuse-focal InRelease
Get:2 https://packages.microsoft.com/ubuntu/20.04/prod focal InRelease [3632 B]
Hit:3 https://packages.cloud.google.com/apt cloud-sdk InRelease
Hit:4 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:5 http://archive.ubuntu.com/ubuntu focal InRelease
Get:6 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 Packages [319 kB]
Hit:7 http://archive.ubuntu.com/ubuntu focal-updates InRelease
Get:8 https://packages.microsoft.com/ubuntu/20.04/prod focal/main armhf Packages [22.8 kB]
Get:9 https://packages.microsoft.com/ubuntu/20.04/prod focal/main all Packages [2938 B]
Get:10 https://packages.microsoft.com/ubuntu/20.04/prod focal/main arm64 Packages [68.1 kB]
Hit:11 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Fetched 417 kB in 1s (363 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libodbc1 odbcinst odbcinst1debian2 unixodbc unixodbc-dev
Suggested packages:
  unixodbc-bin
The following NEW packages will be installed:
  msodbcsql17 unixodbc
The following packages will be upgraded:
  libodbc1 odbcinst odbcinst1debian2 unixodbc-dev
4 upgraded, 2 newly installed, 0 to remove and 58 not upgraded.
Need to get 1447 kB of archives.
After this operation, 142 kB disk space will be freed.
Get:1 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 odbcinst amd64 2.3.11-1 [21.3 kB]
Get:2 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 unixodbc-dev amd64 2.3.11-1 [42.4 kB]
Get:3 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 odbcinst1debian2 amd64 2.3.11-1 [99.8 kB]
Get:4 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 libodbc1 amd64 2.3.11-1 [486 kB]
Get:5 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 unixodbc amd64 2.3.11-1 [51.5 kB]
Get:6 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 msodbcsql17 amd64 17.10.6.1-1 [746 kB]
Fetched 1447 kB in 1s (1646 kB/s)
Preconfiguring packages ...
(Reading database ... 116412 files and directories currently installed.)
Preparing to unpack .../0-odbcinst_2.3.11-1_amd64.deb ...
Unpacking odbcinst (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Preparing to unpack .../1-unixodbc-dev_2.3.11-1_amd64.deb ...
Unpacking unixodbc-dev (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Preparing to unpack .../2-odbcinst1debian2_2.3.11-1_amd64.deb ...
Unpacking odbcinst1debian2:amd64 (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Preparing to unpack .../3-libodbc1_2.3.11-1_amd64.deb ...
Unpacking libodbc1:amd64 (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package unixodbc.
Preparing to unpack .../4-unixodbc_2.3.11-1_amd64.deb ...
Unpacking unixodbc (2.3.11-1) ...
Selecting previously unselected package msodbcsql17.
Preparing to unpack .../5-msodbcsql17_17.10.6.1-1_amd64.deb ...
Unpacking msodbcsql17 (17.10.6.1-1) ...
Setting up libodbc1:amd64 (2.3.11-1) ...
Setting up odbcinst1debian2:amd64 (2.3.11-1) ...
Setting up odbcinst (2.3.11-1) ...
Setting up unixodbc (2.3.11-1) ...
Setting up msodbcsql17 (17.10.6.1-1) ...
odbcinst: Driver installed. Usage count increased to 1.
    Target directory is /etc
Setting up unixodbc-dev (2.3.11-1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.16) ...
Processing triggers for man-db (2.9.1-1) ...

In [11]:
import pyodbc

connection_string = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=aamish-sql1.database.windows.net;'
    'DATABASE=badmminiproject;'
    'UID=aamish;'
    'PWD=Hugo@123;'
)

try:
    conn = pyodbc.connect(connection_string, timeout=30)
    print("Connection successful!")
    conn.close()
except pyodbc.Error as e:
    print("Connection failed:", e)

Connection successful!

In [12]:
import pyodbc
from sqlalchemy import create_engine

# Define a connection function for SQLAlchemy to use
def get_pyodbc_connection():
    return pyodbc.connect(
        'DRIVER={ODBC Driver 17 for SQL Server};'
        'SERVER=aamish-sql1.database.windows.net;'
        'DATABASE=badmminiproject;'
        'UID=aamish;'
        'PWD=Hugo@123;'
        'timeout=60;'
    )

# Create the SQLAlchemy engine using the connection function
engine = create_engine("mssql+pyodbc://", creator=get_pyodbc_connection)

try:
    with engine.connect() as connection:
        print("SQLAlchemy Connection successful!")
except Exception as e:
    print("SQLAlchemy Connection failed:", e)

SQLAlchemy Connection successful!

# Uploading tables to Azure

In [28]:
checkin.to_sql(name = 'checkin', con=engine, if_exists='replace', index=False)

930

In [25]:
business.to_sql(name = "Business", con = engine, if_exists='replace', index=True, dtype={'attributes': sqlalchemy.types.JSON, 'hours': sqlalchemy.types.JSON}, chunksize=50000)

365

In [27]:
tip.to_sql(name = 'tip', con=engine, if_exists='replace', index=False)

104

In [29]:
review.to_sql(name = "review", con = engine, if_exists='replace', index=True, dtype={'attributes': sqlalchemy.types.JSON, 'hours': sqlalchemy.types.JSON}, chunksize=50000)

152

In [ ]:
user.to_sql(name = "user", con = engine, if_exists='replace', index=True, dtype={'attributes': sqlalchemy.types.JSON, 'hours': sqlalchemy.types.JSON}, chunksize=50000)

# SQL Queries for business decision making

**Query 1: Analyze the current saturation of the Korean cuisine market. Here we would count the number of restaurants in Illinois with the category listed as “Korean”.**

In [30]:
query = """
select city, count(*) from business
where state = 'IL' and categories like '%korean%'
group by city;
"""

df_korean_restaurants = pd.read_sql(query, engine)
print(df_korean_restaurants)

           city
0    Belleville  1
1  Edwardsville  2
2  Granite City  1
3      O'Fallon  6

**Query 2 : Explore the Korean restaurants in O'Fallon, IL**

In [35]:
query = """
select business_id, name from business
where state = 'IL' and city like '%Fallon' and categories like '%korea%';
"""

df_edwards_restaurants = pd.read_sql(query, engine)
print(df_edwards_restaurants)

              business_id                                  name
0  Lpp5yRWCUS5hK_tFKPUNjg  You Korean And Japanese Best Cuisine
1  kg6yWp6MJPCMw0kT4l3O6A                    My Bowl Korean BBQ
2  H3-btj6It0pqLrgK8b09Ag                     East Gate Grocery
3  8eVJ744Y7_tTNbD0whZudA                        Teriyaki Grill
4  _K2XFYkn2HYvGf8Bk8KL-g                        Korean Bobsang
5  c-iLk7gTKR4naEgfvW4TzQ               bb.q Chicken - O'Fallon

So, there are 6 Korean restaurants in O'Fallon, IL, according to this data. Now, we would want to dig a bit deeper, by looking at these potential competitor's ratings, reviews, etc.

**Query 3 - Reviews of bb.q Chicken - O'Fallon**

In [43]:
query = """
select * from review
where business_id='c-iLk7gTKR4naEgfvW4TzQ';
"""

df_bbqchicken_reviews = pd.read_sql(query, engine)
print(df_bbqchicken_reviews)

     index               review_id                 user_id  \
0  6955297  wQP7XnojwgN_5emMo3Xk3w  gfSlT7EyxnV0lYv2Dg6MxQ
1  6961140  FIo1iYrRJ8S-wFjvnN5RRg  ljC0pBhl26262JYmJyHsWQ
2  6968405  6cDWUuQOqr_-Ns9xULE3rA  rqYkeGG9PBAdMRDvTMCmfw
3  6972417  QB1QAWcEuZGbCnfyMAvnXg  o4kr4dKIby0yPMrbPnhPuQ
4  6975614  G1DepigeFxw_JcvkG47kEQ  BRk2yc1ax9NVPhBzhWGKJg
5  6976520  StIy4sX917GCAZ1dcCz7DA  oP9drZPYPF322lFtt4DnoQ
6  6977003  XYxhH2lzltTLBrOLTAs05Q  wCG-EiIX0Om_nxUf-rhAkQ
7  6978035  5ubWxGvfE08eWqz4A7y_IQ  T94Rh4sChW5M-hW7ZXq3Bw
8  6981394  EeysfHnv_J4CIiOeGILKag  8xiZpsBRMGfZapBL3tDkVg
9  6981447  aBly996EiCci4mCjZiSckg  8Djh7_T9CqnOaqYDXo-Raw

              business_id  stars  useful  funny  cool  \
0  c-iLk7gTKR4naEgfvW4TzQ      5       0      0     0
1  c-iLk7gTKR4naEgfvW4TzQ      5       0      0     0
2  c-iLk7gTKR4naEgfvW4TzQ      5       0      0     0
3  c-iLk7gTKR4naEgfvW4TzQ      5       1      0     0
4  c-iLk7gTKR4naEgfvW4TzQ      5       0      0     0
5  c-iLk7gTKR4naEgfvW4TzQ      5       0      1     0
6  c-iLk7gTKR4naEgfvW4TzQ      5       0      0     0
7  c-iLk7gTKR4naEgfvW4TzQ      5       0      0     0
8  c-iLk7gTKR4naEgfvW4TzQ      5       0      0     0
9  c-iLk7gTKR4naEgfvW4TzQ      5       0      0     0

                                                text                date
0  Absolutely love this place! If you're looking ... 2021-04-23 00:09:50
1  Dump all your other wing places and eat here r... 2021-05-14 22:02:28
2  This is KFC - Korean fried chicken!   It's not... 2020-11-30 23:32:43
3  Came here twice and even though i order take o... 2020-09-29 22:47:57
4  In my opinion, this is the best Korean fried c... 2021-03-12 20:24:22
5  Bomb chicken joint serving legit Korean fried ... 2021-04-01 01:34:48
6  When my sister and I discovered this restauran... 2020-10-18 21:09:45
7  First time visiting and I was happy with my me... 2021-07-14 01:30:20
8  The chicken was phenomenal!  I can't wait to g... 2020-09-16 22:32:07
9  Yummmm. Awesome Korean wings in O'Fallon. Defi... 2021-01-23 03:43:08

**Query 4 - Tips for bb.q Chicken - O'Fallon**

In [44]:
query = """
select * from tip
where business_id='c-iLk7gTKR4naEgfvW4TzQ';
"""

df_bbqchicken_tips = pd.read_sql(query, engine)
print(df_bbqchicken_tips)

                  user_id             business_id  \
0  hKBQ-PFlcB-t5FK3HUxoyQ  c-iLk7gTKR4naEgfvW4TzQ
1  Yys8L9Wb7Xnpvt3Cg7TWyQ  c-iLk7gTKR4naEgfvW4TzQ
2  P7Tc5zoRUGCaUKA4_BZ8Gg  c-iLk7gTKR4naEgfvW4TzQ
3  283jareRf0LJgQHNpo9ZLg  c-iLk7gTKR4naEgfvW4TzQ

                                                text                date  \
0                              Military discount 10% 2021-08-05 17:23:55
1  Hands down the best Korean fried chicken in th... 2021-08-21 15:56:49
2  Best korean fried chicken! I recommend the Hon... 2020-09-27 04:52:40
3                Great crispy chicken that is juicy. 2020-11-16 16:46:46

   compliment_count
0                 0
1                 0
2                 0
3                 0

**Query 5 - Average Stars for bb.q Chicken - O'Fallon**

In [45]:
query = """
select avg(stars) from review
where business_id='c-iLk7gTKR4naEgfvW4TzQ';
"""

df_bbqchicken_stars = pd.read_sql(query, engine)
print(df_bbqchicken_stars)

0  5

**Query 6 - Opening hours for the restaurants in O'Fallon**

In [50]:
query = """
select hours from business
where state = 'IL' and city like '%fallon%' and categories like '%korea%';
"""

df_opening_hours = pd.read_sql(query, engine)
print(df_opening_hours)

                                               hours
0  {"Monday": "16:0-21:0", "Tuesday": "16:0-21:0"...
1  {"Monday": "9:0-20:0", "Tuesday": "9:0-20:0", ...
2  {"Monday": "10:30-19:0", "Tuesday": "10:30-19:...
3                                               null
4  {"Tuesday": "16:30-21:30", "Wednesday": "16:30...
5  {"Monday": "11:0-21:0", "Tuesday": "11:0-21:0"...

So, it seems that the restaurants here don't open overnight, so there could be an opportunity there.

**Query 7 - Is there a demand of late night food in that city?**

In [55]:
query = """
select text from review
where (text like '%late night%'
or text like '%overnight%'
or text like '%night%')

and business_id in (select business_id from business where state = 'IL' and city like '%fallon%');
"""

df_latenight_demand = pd.read_sql(query, engine)
print(df_latenight_demand)

                                                text
0  Brooke was our waitress tonight.  She is aweso...
1  We decided to go to the Chevy's location in O'...
2  Dear hotel management please update your curta...
3  Server: Karen\n\nWas seated right away on a bu...
4  For over 3 years we have supported Zapp, enjoy...
5  Boy has this place really gone down hill.  We ...
6  This is an excellent place to go get some amaz...

So, it seems like there is some demand for overnight restaurants as most of the reviews here containing such keywords are negative. So, we can be profitable by opening an overnight Korean restaurant.

**Query 8 - Check for busiest postal codes in O'Fallon**

In [58]:
query = """
select top 5 postal_code, count(business_id) as bus_cnt  from business where  city like '%fallon%'
group by postal_code order by bus_cnt desc;

"""

df_busy_codes = pd.read_sql(query, engine)
print(df_busy_codes)

  postal_code  bus_cnt
0       62269      256
1       62232        1

**Query 9 - Check postal code of the restaurant we explored before.**

In [59]:
query = """
select postal_code from business
where business_id='c-iLk7gTKR4naEgfvW4TzQ'

"""

df_postal = pd.read_sql(query, engine)
print(df_postal)

  postal_code
0       62269

So, we should open our restaurant with the postal_code as '62669' as it has about 256 businesses in that area.

**Query 10 - Check the attributes of bbq_chicken restaurant so we can include what they don't have.**

In [60]:
query = """
select attributes from business
where business_id='c-iLk7gTKR4naEgfvW4TzQ'

"""

df_attributes = pd.read_sql(query, engine)
print(df_attributes)

                                          attributes
0  {"RestaurantsDelivery": "True", "RestaurantsTa...

So we can see there is no dining option. We can probably open a fine dining restaurant here to attract more people especially during weekends.